body {
    margin: 0;
    padding: 0;
}
.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.alert-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: #7cc3fb;
    border: 1px solid #abe3fb;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    height: auto;
    font-family: 'Edu TAS Beginner', cursive;
}
  
.alert-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #7cc3fb;
    color: #15396a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Edu TAS Beginner', cursive;
    border-radius: 15px;
}
  
.alert-content button:hover {
    background-color: #15396a;
    color: #fff;
}
/* Media query for smaller devices */
@media (max-width: 480px) {
    .alert-content {
        padding: 15px;
        font-size: 14px; /* Smaller font size for mobile devices */
    }

    .alert-content button {
        padding: 8px 16px; /* Smaller button padding */
        font-size: 14px; /* Smaller font size for buttons */
    }
}