<div class="background">
    <app-header></app-header>

    <div class="vote">
        <h1>Vote Sharon Johnson for Vice President!🤩</h1>
        <p>Dedicated. Honest. Competent. Bold.</p>
        <p>Every vote counts! September 6th, make the right choice!</p>
    </div>

    <div class="slider">
        <app-slider [images]="images"></app-slider>
    </div>

    <div id="achievements" class="achievements">
        <app-achievements [achievements]="achievements"></app-achievements>
    </div>

    <div class="grid-container">
        <div id="aboutme" class="aboutme">
            <h1>About me</h1>
            <p>My name is Sharon Johnson, and I am currently pursuing a Bachelor of Arts in International Studies. 
                I have a deep passion for outdoor activities, animals, and exploring new cultures, 
                which fuels my enthusiasm for meeting new people and discovering diverse perspectives. 
                I find joy in music, art, and graphics, and I am particularly drawn to marketing, event planning, 
                and program and project management. My approach to these fields is guided by strong problem-solving 
                skills, empathy, and patience. I am dedicated to community service and prioritize kindness and 
                consideration in my interactions. As a people-oriented individual and a good listener,
                I thrive on connecting with others and contributing positively to those around me.
            </p>
        </div>
        <div id="whyme" class="whyme">
            <h1>Why me?</h1>
            <p><strong>Every voice matters</strong>, and I am running to ensure yours is heard. I am committed to building a community
                where everyone feels supported and valued. With a proven track record of leadership and a deep-rooted
                passion for service, I have honed my skills to bring positive change. I understand the challenges we face
                and have the experience to overcome them. <strong>Join me in creating a brighter future together.</strong>
            </p>
        </div>
        <div id="manifesto" class="manifesto">
            <h1>My Manifesto</h1>

            <p><strong>1.Revitalise Club Culture</strong></p>
            <p>Club Potential. Enhance External Engagement.  Enhance the Student Experience </p>
            
            <p><strong>2.Streamline Club Operations</strong></p>
            <p>Optimise Communication. Simplify processes. Provision of adequate resources</p>

            <p><strong>3.Champion Student Well-being</strong></p>
            <p>Prioritise Mental Health. Improve Physical Health. Address Student Needs.</p>

            <p><strong>4.Strengthen the School-Student Connection</strong></p>
            <p>Leverage the Alumni Network. Recognise Student Achievements. Enhance campus safety.</p>
        </div>
    </div>
    <div class="footer">
        <div class="hashtag">
            <h1>Never worry when</h1>
            <h1>#Shar-On-It</h1>
            <img src="favicon4.png" alt="">
        </div>
        <div class="contact-container">
            <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                <div id="contactsharon" class="contact-left-title">
                    <h2>Talk to Sharon</h2>
                    <hr>
                </div>
                <input type="hidden" name="access_key" value="6c6ffb9c-feb7-46a7-8266-562fec9cb7ac">

                <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
                <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
                <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
    <div class="footer2">
        <p><sup>©</sup>AN-All Rights Reserved</p>
    </div>
</div>